<div class="filters">

  <h3>{{ 'JobSearch.filters.title' | translate }}</h3>

  <form [formGroup]="form">

    <mat-form-field>
      <input matInput
             [placeholder]="'JobSearch.filters.description' | translate"
             formControlName="description">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             [placeholder]="'JobSearch.filters.location' | translate"
             formControlName="location">
    </mat-form-field>

    <section>
      <mat-checkbox [value]="true" formControlName="fullTime">
        {{ 'JobSearch.filters.fullTime' | translate }}
      </mat-checkbox>
    </section>
  </form>
</div>

<div class="jobs">

  <mat-progress-bar *ngIf="loading"
                    mode="indeterminate"></mat-progress-bar>

  <h3>{{ 'JobSearch.jobs.title' | translate }}</h3>

  <mat-list *ngIf="!loading">

    <mat-list-item *ngFor="let job of (jobs$ | async)">

      <img *ngIf="job.company_logo"
           mat-list-avatar [src]="job.company_logo" alt="">

      <h4 mat-line>{{ job.title }}</h4>
      <h5 mat-line>{{ job.company }}</h5>
      <p mat-line>{{ job.created_at | date: 'medium' }}</p>
    </mat-list-item>
  </mat-list>
</div>
