<div class="filters">

  <h3>{{ 'JobSearch.filters.title' | translate }}</h3>

  <mat-form-field>
    <input matInput
           [placeholder]="'JobSearch.filters.description' | translate"
           [(ngModel)]="description"
           (ngModelChange)="search()">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           [placeholder]="'JobSearch.filters.location' | translate"
           [(ngModel)]="location"
           (ngModelChange)="search()">
  </mat-form-field>

  <section>
    <mat-checkbox [value]="true" [(ngModel)]="fullTime" (ngModelChange)="search($event)">
      {{ 'JobSearch.filters.fullTime' | translate }}
    </mat-checkbox>
  </section>
</div>

<div class="jobs">

  <mat-progress-bar *ngIf="loading"
                    mode="indeterminate"></mat-progress-bar>

  <h3>{{ 'JobSearch.jobs.title' | translate }}</h3>


  <mat-list *ngIf="!loading">

    <mat-list-item *ngFor="let job of jobs">

      <img *ngIf="job.company_logo"
           mat-list-avatar [src]="job.company_logo" alt="">

      <h4 mat-line>{{ job.title }}</h4>
      <h5 mat-line>{{ job.company }}</h5>
      <p mat-line>{{ job.created_at | date: 'medium' }}</p>
    </mat-list-item>
  </mat-list>
</div>
