:host {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.filters,
.jobs {
  flex: 1;
}

.filters {
  flex-basis: 20%;
  flex-grow: 0;
}

.mat-list-item img.mat-list-avatar {
  border-radius: 0;
  object-fit: contain;
}
